apiVersion: v1
kind: Service
metadata:
  name: apache-svc
  namespace: default
  labels:
    app: apache-deploy
spec:
  type: NodePort
  selector:
    app: apache-deploy
  ports:
    - protocol: TCP
      port: 80           # 서비스 내부 포트
      targetPort: 80     # 컨테이너 포트
      nodePort: {{ apache_node_port | default(31450) }}
