apiVersion: v1
kind: Service
metadata:
  name: mariadb-svc
  namespace: default
spec:
  clusterIP: 10.107.223.114
  clusterIPs:
  - 10.107.223.114
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - port: 3306
  selector:
    app: mariadb
